---
import { ViewTransitions } from 'astro:transitions';
import style from './project-layout.module.scss';
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main class={style.mainMarkdownStyle}>
      <slot />
      <a href="/" rel="nofollow">Bring me home</a>
    </main>
  </body>
</html>
